<footer class="mastfoot mt-auto">
    <div class="inner ">
        <p>Copyright &copy; <%= moment().format('YYYY') %> <br>
            <a href="//lukasmatuska.cz" target="_blank">Lukáš&nbsp;Matuška</a>
            pro <a href="//sspbrno.cz" target="_blank">SSPBRNO</a>
        </p>
    </div>
</footer>